doctype html
html
	head
		title= title
		for style in styles
			link(rel='stylesheet', href='#{style}')
		for script in scripts
			script(src='#{script}')
	div.header
			div.logo(align = 'center')
				img(src = '/images/logo.png')
	body
		div.wrapper
			div.menu
				a(href = 'index') Главная
				a(href = 'about') О компании
				a(href = 'news') Новости
				a(href = 'chat') Чат
				a(href = 'video') Видео
				a(href = 'canvas') Галерея
				if (userid)
					a(href = 'logout') Выход
					a(href = 'cabinet') Кабинет пользователя 
				else
					a(href = 'reg') Вход/Регистрация
			div.mainblock
			block content
		div.footer
			p Minsk 2014