extends layout

block content
	h2 Видео
	video(width='720', height='400', id='media')
		track(src='subtitles.vtt', srclang='en', kind='subtitles', label ='English subtitles')
		source(src='http://video-js.zencoder.com/oceans-clip.mp4')
		source(src='http://video-js.zencoder.com/oceans-clip.ogg')
		source(src='http://video-js.zencoder.com/oceans-clip.webm')
	nav
		div#buttons
			input(type='button', id='play', value='play')
			input(type='button', id='mute', value='mute')
		div#bar
			div#progress
		div#control
			input(type='range', id='volume', min='0', max='1', step'0.1', value='0.6')
		div.clear